*.pyc
*~
*/test/configs/*
*/test/credentials/*

*.egg-info
dist
build/
.cache

client_secrets.json

.idea
.idea/
.idea/googlicious.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
